* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* .bg{
    width: 90%;
    height: auto;
    background-color: #f7e6e6;
    margin: auto;
  
} */

.Header {
  background-color: bisque;
  width: 100%;
  height: 110px;
  margin: auto;
  /* border: 1px solid black; */
}
.Header #logo {
  /* background-color:; */
  width: 100%;
  margin-left: 100px;

  padding-top: 9px;
}
.menu li {
  display: inline;

  margin-left: 35px;

  font-size: 25px;
}
.Header .menu a {
  color: black;
  text-decoration: none;
}
.menu li :hover {
  font-weight: bold;
  transition-duration: 0.45s;
  transition-duration: 0.5s;
}
.middle {
  background-color: #ffd6cb;
}
.Carousel img {
  /* width: 100%; */
  width: 100%;
  /* background-size: cover; */
  /* height: ; */
  /* height: 800px; */
  height: 80vh;
  /* chieu cao theo giao dien */
  background-color: #ffd6cb;
  padding-bottom: 50px;
}
.Carousel .map {
  height: 150px;
  width: 120px;
  margin-left: 45%;
}
#linkmap {
  text-decoration: none;
  font-weight: bold;
  color: grey;
  font-size: 30px;
  margin-left: 37%;
}
.contact {
  padding-top: 50px;
  width: 100%;
  height: auto;
}
.contact__info {
  padding: 0 10px;
  width: 25%;
  float: left;
}
.contact_card {
  float: left;
  border-radius: 20px;
  background-color: white;
  width: 100%;
  height: auto;

  padding: 0 10px;
}
.clear {
  clear: both;
}
/* .contact__img {

    padding-top: 10px;
    
} */
.contact__img {
  position: relative;
}
.contact__img img {
  /* position: relative; */
  margin-top: 10px;
  width: 100%;
  border-radius: 20px;
}
.contact_love {
  position: absolute;
  right: 10px;
  top: 15px;
  border-radius: 15px;
  width: 50px;
  height: 45px;
  text-align: center;
  background-color: rgba(184, 183, 183, 0.856);
  cursor: pointer;
  color: red;
  font-size: 40px;
}
.contact__details {
  width: 100%;
  text-align: center;
}
.contact__details p {
  padding: 20px;
  font-size: 20px;
  color: rgb(110, 108, 108);
}

.contact__details .button {
  width: auto;
  height: auto;
  padding: 10px 25px;
  font-size: 20px;
  color: gray;
  text-align: center;
  /* font-weight: bold; */
  margin: 20px 0px;
  border-radius: 10px;
  background-color: rgb(236, 234, 234);
  cursor: pointer;
  border: none;
}
.contact__details button:hover {
  color: black;
  border: 1px solid black;
}

.btnview {
  width: 50%;
  height: auto;
  padding: 20px 0;
  margin: auto;
}
.btnview button {
  background-color: #ffd6cb;
  padding: 10px 60px;
  cursor: pointer;
  margin-left: 41%;
  border: 1px solid #df4721;
  border-radius: 25px;
  color: #df4721;
  transition-duration: 1s;
  font-size: 20px;
}
.button:hover {
  background-color: white;
}
.Contacts {
  /* background-color:#f0b6a8 ; */
  /* background-image: url(./Image/mask.png);
  background-size: cover;
  background-position: right; */
  /* background-image: url(./Image/mask2.png);
  background-size: cover;
  background-repeat: repeat; */
  background-color: #ffddd4;
  border-radius: 25px;
  width: 100%;
  height: 350px;
  margin-top: 50px;
  padding: 30px 0;
  float: left;
}
.contact__left {
  /* background-image: url(./Image/mask.png);
  background-size: cover;
  background-position: left; */
  width: 50%;
  height: 100%;
  float: left;
}
.contact__left img {
  width: 60%;
  padding-left: 200px;
}
.contact__right {
  color: rgb(87, 87, 87);
  /* background-color: #ffd6cb; */
  padding: 20px 20px;
  width: 50%;
  float: left;
}

.contact__right h1 {
}
.contact__right p {
  font-size: 20px;
  margin: 15px 0 30px;
}
.contact__right h2 {
  margin-bottom: 20px;
}
.contact_app {
  width: 50%;
  float: left;
}
.contact_follow {
  width: 50%;
  float: left;
}
.contact_follow i {
  font-size: 40px;
  color: #df4721;
  padding-left: 10px;
}
.Footer {
  margin-top: 70px;
  padding: 70px 20px;
  background-color: #ffd6cb;
  width: 100%;
  height: auto;
  border-radius: 60px;
}
.footer__detail {
  padding: 0 30px;
  width: 40%;
  float: left;
}
.footer__detail p {
  padding-top: 30px;
  font-size: 20px;
}
.footer__help {
  width: 20%;
  float: left;
}

li {
  list-style: none;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.footer__plan {
  width: 20%;
  float: left;
}
.Footer li :hover {
  font-size: 25px;
  transition-duration: 0.5s;
}
.footer__helpU {
  width: 20%;
  float: left;
}
.Footer h1 {
  color: black;
  font-size: 20px;
  padding-top: 50px;
}

.last h1 {
  text-align: center;
}
.last i {
  padding-right: 10px;
}
